<%- include('partials/head') %>
<body>

<%- include('partials/intro') %>
<%- include('partials/nav') %>
<%- include('partials/hero') %>
<%- include('partials/about') %>
<%- include('partials/explore') %>
<%- include('partials/partners') %>
<%- include('partials/faq') %>
<%- include('partials/events') %>
<%- include('partials/footer') %>

</body>
</html>
