<%- include('partials/head') %>
<body>

<%- include('partials/intro') %>
<%- include('partials/nav') %>
<%- include('partials/hero') %>
<%- include('partials/footer') %>

<script src="/js/hero.js"></script>
</body>
</html>
